@import '../mixins';
.account-content{
    .container{
        .row{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 50px;
            .form{
                width:100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:20px;
                .title{
                    text-align: center;
                    font-size: 48px;
                    font-weight: 700;
                    font-family: 'Libre Baskerville', serif;
                    padding: 20px 0;
                }
                .detail{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap:20px;
                    input[type="text"],[type="email"],[type="password"]{
                        width: 50%;
                        padding:20px;
                    }   
                }
                .actions{
                    width:50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .button{
                        @include button(black, 20px 40px, transparent);
                    }
                }
                .message{
                    display: none;
                }
                .active{
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .account-content .container .row .form .detail{
        width: 100%;
        input[type="text"],[type="email"],[type="password"]{
            width: 100%;
            padding:20px;
        }   
    }
  
}
