@import '../mixins';
.not-found{
    .container{
        .row{
            width: 100%;
            padding: 100px 0;
            display: flex;
            flex-direction: column;
            .first-part{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:60px;
                text-align: center;
                .error{
                    font-family: 'Assistant', sans-serif;
                    font-size: 20px;
                }
                .heading{
                    font-size:48px;
                    font-weight: 700;
                    font-family: 'Libre Baskerville', serif;
                }
                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 20px;
                    .button{
                        @include button(black, 20px 45px, transparent);
                    }
                }
            }
        }
    }
}