.card{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    .card-img{
        img{
            width:100%;
            height:auto;
        }
    }
    .card-content{
        font-size:19px;
        font-family: 'Assistant', sans-serif;
        .title{
            color:black;
        }
        .price{
            color:#00000060;
        }
    }
}