.card{
    display: flex;
    flex-direction: column;
    height:auto;
    transition: transform 0.3s ease-out;
    .card-img{
        img{
            width:100%;
            max-height:400px;
            object-fit: cover;
        }
    }
    .card-content{
        padding:10px 0;
        height:10%;
        font-size:19px;
        font-family: 'Assistant', sans-serif;
        .title{
            color:black;
            
        }
        .price{
            margin-top:10px;
            color:#00000060;
            &:hover{
                text-decoration: none !important;
            }
        }
    }
    &:hover{
        transform: scale(1.01);
        color:#121212;
        text-decoration: underline;
        text-underline-offset: 0.3rem;
    }
}

@media (max-width: 960px) {
    .card .card-img  img {
      min-height:150px;
      object-fit: cover;
    }
  
}