.find{
    .container{
        .row{
            .find-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width:100%;
                .heading{
                    font-size: 28px;
                    font-family: 'Libre Baskerville', serif;
                    padding: 20px 0;
                }
                .adresses{
                    font-family: 'Assistant', sans-serif;
                    font-size: 19px;
                    .item{
                        text-align: center;
                        margin: 5px 0;
                    }
                }
                .detail{
                    width:60%;
                    font-family: 'Assistant', sans-serif;
                    font-size: 19px;
                    text-align: center;
                }

                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    .button{
                        @include button(black, 20px 35px, transparent);
                    }
                }
            }
        }
    }
}

