footer{
    width: 100%;
    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        .border{
            border-top:1px solid #121212BF;
            border-bottom:1px solid #121212BF;
            padding-top:20px;
            .container{
                .footer-top{
                    display: flex;
                    flex-direction: row;
                    .footer-part{
                        width:33.3%;
                        display: flex;
                        flex-direction: column;
                        p{  
                            font-family: 'Assistant', sans-serif;
                            font-size: 19px;
                            color: #7e7e7e;
                        }
                        h4{
                            font-family: 'Libre Baskerville', serif;
                            font-size: 20px;
                            margin-bottom: 28px;
                            font-weight: 700;
                        }
                        ul{
                            padding-bottom: 15px;
                            li{
                                margin-bottom: 15px;
                                a{
                                    font-family: 'Assistant', sans-serif;
                                    font-size: 19px;
                                    text-align: center;
                                    color: #7e7e7e;
                                }
                            }
                        }
                    }
                }
                .footer-middle{
                    margin-bottom: 20px;
                    .heading{
                        font-size: 28px;
                        font-family: 'Libre Baskerville', serif;
                        padding: 20px 0;
                    }
                    .media{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        form{
                            display: flex;
                            width:auto;
                            border: 1px solid black;
                            input[type="email"]{
                                width: 100%;
                                padding:20px;
                                border: none;
                            }
                            .btn{
                                padding: 20px;
                                margin-left:0;
                                background-color: transparent;
                                border: none;
                            }
                            transition: all .3s;
                            &:hover{
                                transform: scale(1.01);
                            }
                        }
                        .social-medias{
                            font-size: 20px;
                            margin:20px;
                            gap:20px;
                            display: flex;
                            flex-direction: row;
                            .icon{
                                color:#000;
                                transition: all .3s;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom{
            .payment-cards{
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap:10px;
                .pay-item{
                    max-width:30px;
                    height: 20px;
                    img{
                        width: 100%;
                        
                    }
                }
            }
            padding: 45px 0 20px 0;
            p{
                margin-top: 20px;
                text-align: center;
                font-size: 14px;
                color:#12121260;
                a{
                    color:#12121260;
                    transition: all .3s;
                    &:hover{
                        transform: scale(1.01);
                        color:#12121290;
                        text-decoration: underline;
                        text-underline-offset: 0.3rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    footer .row .border .container .footer-top {
        padding: 20px;
        flex-direction: column;
        .footer-part{
            width: 100%;
        }
    }
    footer .row .border .container .footer-middle{
        padding: 20px;
        .heading{
            font-size:20px;
        }
        .media{
            flex-direction: column;
            align-items: center;
            form{
                display: flex;
                width:100%;
                input[type="email"]{
                    width: 100%;
                    padding:20px;
                }
                .btn{
                    padding: 20px;
                    margin-left:0;
                }
            }
        }
        
    }
    footer .row .border .container .footer-bottom{      
        .payment-cards{
            flex-direction: column;
            flex-wrap: wrap;
            gap:10px;  
        }  
    }
}