@import '../mixins';

.hero{
    width:100%;
    background-image: url('/assets/images/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -350px;
    opacity: 0.8;
    .container{
        .row{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height:670px;
            padding: 100px 0;
            .hero-box{
                max-width:45rem;
                display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:12px;
            border:1px solid red;
                h1{
                    font-size: 60px;
                    font-family: "Libre BasketVille" ,serif;
                    color:#fff;
                }
                p{
                    font-size: 20px;
                    font-family: "Assistant", sans-serif;
                    color:#ffffff60;
                    text-align: center;

                }
            }
            .button{
                @include button(transparent, 20px 35px, transparent);
            }
            
        }
    }
}