.shop-home{
    .container{
        .row{
            width: 100%;
            display: flex;
            flex-direction: column;
            .first-part{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:30px;
                padding: 30px 0;
                text-align: center;
                .heading{
                    font-size:48px;
                    font-family: 'Libre Baskerville', serif;
                }
                .info{
                    font-family: 'Assistant', sans-serif;
                    font-size: 19px;
                    width:60%;
                }
            }
            .second-part{
                width:100%;
                display: flex;
                flex-direction: column;
                .heading{
                    font-size: 28px;
                    font-family: 'Libre Baskerville', serif;
                    padding: 20px 0;
                }
                .cards{
                    width:100%;
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    gap: 10px;
                }
                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    .button{
                        @include button(black, 20px 35px, transparent);
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .shop-home .container .row .first-part .heading {
      font-size: 36px;
    }
  
    .shop-home .container .row .second-part .cards {
        padding:10px;
        grid-template-columns: repeat(2, 1fr);
    }
}
