.three-cards{
    .container{
        .row{
            width:100%;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
            padding: 30px 0;
        }
    }
}
@media (max-width:960px){
    .three-cards .container .row {
        grid-template-columns: auto;
    }
}